@use '../abstracts/index.module' as var;

.footer {
  background: linear-gradient(0deg, #272727 1%, var.$color-background 100%);
  font-family: var.$font-title;
  color: var.$color-foreground;
  width: 100%;
  display: flex;
  flex-direction: row; /* or column */
  align-items: center; /* vertical alignment */
  justify-content: space-between; /* horizontal alignment */
}

.footer .license {
  font-size: 2.5em;
  text-align: center;
}

.footer .icons {
  justify-content: flex-end; /* Align items from right to left */
}

.footer .icons .icon {
  padding-right: 0.5em; /* Adjust spacing between icons */
}
