@use '../abstracts/index.module' as var;

.footer {
  display: flex;
  padding-left: 0.5em;
  overflow-wrap: normal;
  overflow: auto;
  background: linear-gradient(0deg, #272727 1%, var.$color-background 100%);
  color: var.$color-foreground;
  font-family: var.$font-title;
}
