@use '../abstracts/index.module' as var;

html::-webkit-scrollbar {
  width: 6px; //7.5
  z-index: 9999
}

html::-webkit-scrollbar-thumb {
  background: var.$color-foreground;
}

html::-webkit-scrollbar-track {
  background: var.$color-background;
}
