/* Colors */
$color-foreground: var(--color-foreground);
$color-mid-ground: var(--color-mid-ground);
$color-background: var(--color-background);
$color-body-text: var(--color-body-text);
$color-overlay: var(--color-overlay);
$color-text-shadow: 0px 0px 30px $color-foreground;
