@use './abstracts/index.module' as var;
@use './components/index.module' as com;
@use './pages/index.module' as pag;

@use './components/scrollbar.module' as scrollbar;
:root {
  --color-foreground: #ec008c;
  --color-mid-ground: #ffcc00;
  --color-background: #0f0f0f;
  --color-body-text: #ffffff;
  --color-overlay: rgba(15, 15, 15, 0.7);
}

#parent {
  display: flex;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var.$font-body;
  overflow-y: visible;
}

h1,
h2,
h3,
p {
  a {
    text-decoration: underline;
    text-decoration-color: #4285f4;
    color: #4285f4;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  z-index: inherit;
}

.App {
  box-sizing: border-box;
  text-align: center;
  background: var.$color-background;
}

.popup {
  display: none;
  // position: absolute;
  position: fixed;
  bottom: 0; /* or use top: 0; */
  background-color: #0000009f;
  padding: 10px;
  border: 3px solid var.$color-foreground;
}

.popup.active {
  display: block;
}

.row-fixed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.row {
  @extend .row-fixed;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
