@use '../abstracts/index.module' as var;

/* Navbar */
$item-padding: 2vw;

nav {
  position: fixed;
  z-index: 10;
  background-color: var.$color-overlay;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    var.$color-background 55%
  );
  color: var.$color-foreground;
  width: 100%;
  height: var.$navbar-height;
  font-family: var.$font-title;
  transition:
    background-color var.$dropdown-transition,
    height var.$dropdown-transition;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var.$viewport-max-width;
    height: var.$navbar-height;
    padding: var.$padding-safe;
    margin: 0 auto;

    p {
      font-weight: bold;
      margin-block-start: 0em;
      text-shadow: var.$color-text-shadow;
    }

    a {
      flex: 0 1 auto;
      transition: transform var.$dropdown-transition;

      p {
        font-size: var.$navbar-font-size;
        margin-block: 18px;
        margin-right: $item-padding;
      }

      .nav-logo {
        font-size: 50px;
        margin-right: unset;
        margin-left: $item-padding;
      }
    }

    .column {
      justify-content: flex-start;
    }

    .row-fixed {
      width: unset;
      height: unset;
      flex-wrap: nowrap;
    }

    .dropdown {
      position: fixed;
      margin: var.$inverted-padding-safe;
      padding: var.$padding-safe;
      width: 100%;
      height: calc(100lvh - var.$navbar-height);
      transform-origin: top;
      transition:
        transform var.$dropdown-transition,
        opacity var.$dropdown-transition;
      overflow: auto;
      transform: translate(0, 50vh) scale(1, 0);
      opacity: 0;

      a {
        margin: 25px 0px;
        transform: scale(0, 0);

        p {
          font-size: var.$navbar-font-size * 1.75;
        }
      }
    }

    .hamburger-react {
      margin: 0 10px 0 10px;
      filter: drop-shadow(0px 0px 5px var.$color-foreground);
    }
  }
}

html[data-nav-dropdown='true'] {
  overflow: hidden;
  width: 100%;

  body {
    overflow: hidden;
    width: 100%;

    nav {
      height: 100lvh;
      background: linear-gradient(
        0deg,
        var.$color-overlay 0%,
        var.$color-background 75%
      );

      .container .dropdown {
        transform: translate(0, 50vh) scale(1, 1);
        opacity: 1;

        a {
          transform: scale(1, 1);

          p {
            overflow: visible;
            text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.75);
          }
        }
      }
    }
  }
}

.row-fixed[hidden] {
  display: none !important;
}
